<div class = 'ui red center aligned huge header'>LOOK AT THIS LIST. </div>
  <div class = 'ui blue header'><%= @list.title %></div>
  <p><%= @list.description %></p>
  <% if @list.list_items %>
    <ul id='items_list'>
    <% @list.list_items.each do |item| %>
      <li class='item'><%= item.description %> <%= link_to 'Get rid of it!', item, method: :delete, class: "ajax-destroy", data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
  <% end %>

  <% if @list.user == @current_user %>
    <%= render "/list_items/form" %>
  <% end %>