<h1>Hi, <%= current_user.username %>! </h1>

<h3><%= @list.name %></h3>
    <% @list.items.each do |item| %>
  <ul>
    <li><%= item.description %></li>
      <%= link_to "Delete Item", destroy_item_path(item), method: :delete, class: "btn-primary btn" %>
  </ul>
<% end %>

<%= render "items/new" %>

