<h1><%=@list.name%></h1>
<h2>owner: <%=@name%></h2>

<div class='list'>
  <ul>
    <% @list.items.each do |item| %>
      <li class='item'><%= item.name %></li>
    <% end %>
  </ul>
</div>

COUNT: <%= @list.items.count %>

<%= form_for @list, url: list_path, method: :patch do |f| %>
  <div class = 'field'>
    <%= f.label :item_name, "Add item!" %>
    <%= f.text_field :item_name %> 
    <!-- this worked without the submit button...? -->
    <%= f.submit "Add to list!" %>
  </div>
<% end %>

<%= link_to "See all #{@name}'s lists", user_path(@list.user) %>