<h1><%=@list.name%></h1>
<h3>owner: <%=@name%></h3>

<div class='list'>
  <ul>
    <% @list.items.each do |item| %>
      <li class='item'>
        <%= item.name %>
        <%= link_to "Remove", remove_item_path(@list.id, item.id), class: 'remove-item', method: :delete %>
      </li>
    <% end %>
  </ul>
</div>

<!-- COUNT: <%= @list.items.count %> -->
<div class= 'form'>
  <%= form_for @list, url: list_path, method: :patch do |f| %>
    <div class = 'add-item'>
      <%= f.label :item_name, "Add item!" %>
      <%= f.text_field :item_name %> 
      <!-- this worked without the submit button...? -->
      <span class= 'add-button btn'>
        <%= f.submit "Add to list!" %>
      </span>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "See all #{@name}'s lists", user_path(@list.user) %>
</div>