 <div class="single">
 <div class="form_style">
  <h3>Log In</h3>

  <%= form_tag signin_path do %>
    <div class="field">
      <%= label_tag :username %><br />
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %><br><br>
    </div>
    <div class="button"><%= submit_tag "Log In" %></div>
  <% end %>
</div>
</div>
