<br><br><br><br>


<div class="row row-offcanvas row-offcanvas-right">
  <% if @current_user.nil? %>
  <div class="col-xs-12 col-sm-9">
    <div class="jumbotron">
      <%= "Welcome to Lister!" %>
      <p><a class="signin">Sign in</a> or <a class="signup">sign up</a> for Lister & start making your first lists!</p>
    <div id="sign-up-area"><%= render "users/form" %></div>
    <div id="sign-in-area" ><%= render "sessions/new" %>
    </div>
  </div>
    <br><br>
  <div class="col-xs-4 col-sm-3 sidebar-offcanvas" style="border: 1px dashed"> <%= 'most recent lists here'  %></div>

<% else %>
  <div class="col-md-8" style="border: 1px dashed"> <%= @users_lists.inspect %></div>
  <div class="col-xs-4 col-sm-3 sidebar-offcanvas" style="border: 1px dashed"><%= 'most recent lists here' %> </div>
<%  end %>
</div>



<!--  <div class="col-md-8" style="border: 1px dashed"> <%= render "users/form" %></div> -->
