<% if @current_user.nil? %>

  <div class="col-xs-8 col-sm-5">
    <div class="jumbotron" style="background-color: rgba(30, 144, 255, 0.20)">
      <%= "Welcome to Lister!" %>
      <p><a class="signin">Sign in</a> or <a class="signup">sign up</a> for Lister & start making your first lists!</p>
      <div id="sign-up-area"><%= render "users/form" %></div>
      <div id="sign-in-area" ><%= render "sessions/new" %></div>
    </div>
  </div>

<div class="col-xs-4 col-sm-3 sidebar-offcanvas" style="background-color: rgba(30, 144, 255, 0.20)">
  <table class="table table-striped"><h3> Explore the latest lists: </h3><br>
    <tbody>
      <% @lists.each do |list| %>
        <tr><td><%= link_to "#{list.name}", list_path(list.id) %></td></tr>
      <% end %>
    </tbody>
    </table>
    </div>

<% else %>

  <div class="col-xs-8 col-sm-5">
     <div class="jumbotron" style="background-color: rgba(30, 144, 255, 0.20)">
      <h2><%= "Welcome to Lister!" %></h2>
      <p>You have <%= "#{@users_lists.count}" %> <%= link_to "lists.", my_lists_path %> Create a <%= link_to "new list", new_list_path %> today.</p>
    </div>
  </div>

  <div class="col-xs-4 col-sm-3 sidebar-offcanvas" style="background-color: rgba(30, 144, 255, 0.20)">
  <table class="table table-striped"><h3> Explore the latest lists: </h3><br>
    <tbody>
      <% @lists.each do |list| %>
        <tr><td><%= link_to "#{list.name}", list_path(list.id) %></td></tr>
      <% end %>
    </tbody>
    </table>
    </div>


      <div class="col-xs-8 col-sm-5" style="background-color: rgba(30, 144, 255, 0.20)"><h4> Your lists:</h4>
      <table class="table table-striped">
    <tbody>
      <% @users_lists.each do |list| %>
        <tr><td><%= link_to "#{list.name}", list_path(list.id) %></td></tr>
      <% end %>
    </tbody>
    </table>

<%  end %>
