<h2>See your lists below</h2>

<!-- <div class="user_info">
<ul>
  <h4><li><%= current_user.username %></li></h4>
  <h4><li><%= current_user.email %></li></h4>
</ul>
</div> -->

<% current_user.lists.each do |list| %>
  <h3><%= link_to "#{list.name}", current_list_path(list) %></h3>
      <ul><% list.items.each do |item| %>
        <li><%= item.description %></li>
        <% end %>
      </ul>
  <% end %>

<div class="button">
  <%= link_to "Create a List", list_new_path %>

