<h1>Your Lister Profile</h1>

<p>
<table class="table table-striped">
    <thead>
    <tr>
        <th><strong>Name:</strong></th>
        <th><strong>Options:</strong></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td><% @current_user = User.find_by(id: cookies[:user_id]) %></td>
        <td><%= @current_user.username %></td>
        <td><%= link_to 'My Lists', list_path(@current_user) %></td>
        <td><%= link_to 'Add a List', new_list_path %></td>
        <td><%= link_to 'Edit', edit_user_path(@current_user) %></td>
        <td><%= link_to 'Destroy', @current_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    </tbody>
</table>
</p>