<h1>Add an item!</h1>

<%= form_for @item do |new_item|%>
  <% if @item.errors.any? %>
  <div class= "error_messages">
    <h2> Form is invalid </h2>
    <ul>
      <% for message in @item.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div class="field">
    <%= new_item.label :description, "Item Name" %>
    <%= new_item.text_field :description %>
    <%= new_item.hidden_field :list_id, :value => @list.id %>
  </div>
  <div class= "actions"><%= new_item.submit %></div>
<% end %>