<h1>Add a new item</h1>

<h4>New Item</h4>
<% @item.errors.full_messages.each do |error| %>
 <%= error %><br>
<% end %>

<%= form_for @item do |f| %>
 <div class='field'>
   <%= f.label :itemname %>
   <%= f.text_field :itemname %>
   <%= f.hidden_field :list_id %>
 </div>
<div class='submit'>
   <%= f.submit %>
 </div>
 <% end %>

