<!DOCTYPE html>
<html>
  <head>
    <title>Lister</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1><%= link_to "List Yo Lists", root_path %></h1>
    <% if @current_user %>
      <p>Signed in as <%= @current_user.username %></p>
      <p><%= link_to "Log OUT", sign_out_path, :class => "btn btn-default" %></p>
    <% else %>
      <p><%= link_to "Log IN", sign_in_path, :class => "btn btn-default" %> <%= link_to "Sign UP", sign_up_path, :class => "btn btn-default" %></p>
    <% end %>

    <%= notice %>

    <%= yield %>

  </body>
</html>
