<!DOCTYPE html>
<html>
<head>
  <title>Lister</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
   <% if @current_user %>
    <%= link_to 'Sign out!', sign_out_path %><br>
    <%= link_to 'My lists!', user_path(@current_user.id) %>
  <% else %>
    <%= link_to 'Log in!', sign_in_path %>
    <% end %>
    <br><br>

    <%= flash[:notice] %>
    

<%= yield %>

</body>
</html>
