<!DOCTYPE html>
<html>
<head>
  <title>Lister</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash.notice %><br><br>
<%= yield %><br><br>

<tr>
<td><%= link_to 'Home', '/' %></td><br>
<td><%= link_to 'Back', :back %></td><br>
<tr>

</body>
</html>
