<!DOCTYPE html>
<html>
<head>
  <title>The List</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if request.path != root_path %>
    <div id='menu'>
      <ul>
        <li>
          <a href=<%= home_path %> style="color:black">home</a>
        </li>
        <li>
          <a href="/portfolio">portfolio</a>
        </li>
        <li>
          <a href="/blog">blog</a>
            <ul>
                <li><a href=#></a></li>
            </ul>
        </li>
        <li>
          <%= link_to "sign out", signout_path %>
        </li>
      </ul>
    </div>
  <% end %>


  <%= yield %>

</body>
</html>
